.box-user {
    width: 100%;
    max-width: 200px;
    background-color: #0B5D58;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #15FFF1;
    position: relative;
    font-size: 20px;
    color: #15FFF1;
    text-align: right;
    user-select: none;
    p {
        word-break: break-all;
    }
    &::after {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url('../../assets/side-message.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: -2.5px;
        top: -1px;
    }
}

@media screen and (max-width: 550px) {
    .box-user {
        max-width: none;
    }
}
